<div class="container">
	<div class="row-fluid">
		<hr>
		<div class="pull-left">
			<ul class="nav nav-pills">
			  <li><a href="/about">About</a></li>
			  <li><a href="/contact">Contact</a></li>
			  <li><a href="/jobs">Jobs</a></li>
			  <li><a href="/advertisers">Advertisers</a></li>
			  <li><a href="/suppliers">Suppliers</a></li>
			</ul>
		</div>
		<div class="disclaimer pull-right">
			© 2013 mysterygift inc
		</div>
		<br>
		<br>
	</div>
<div class="container">