<div class="accordion-group">
  <div class="accordion-heading">
  	<div class="rank">
  		<button type="button" class="btn">1</button>
  	</div>
  	<div class="emoticon">
      {{listitem.emoticonImg}}
  	</div>
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
      {{listitem.title}}
    </a>
  </div>
  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner">
    	<div class="description">
      		{{listitem.description}}
  		</div>
      	<hr>
      	<div class="hashtags">
  			 {{listitem.hashtagsLinks}}
  		  </div>
    </div>
  </div>
</div>