<div class="container-narrow">
    <h1>About</h1>
    <p>We are here to help save you time and money. Why go to malls and spend countless hours looking for gifts for others when you can do it right in the comfort of your home. </p>
    <p>We will take care of the shopping, wrapping and shipping the gifts for you. Make your loved ones happy without going through the trouble with our service.</p>
</div> <!-- /container -->