<div class="container-narrow">

  <hr>

  <div class="jumbotron">
    <h1>Easily convert between XML and JSON!</h1>
    <p class="lead">No registration, no service fee, no authentication, no installation, no configuration.</p>
    <a class="btn btn-large btn-success" href="/api">Let's do it!</a>
  </div>

  <hr>

  <div class="row-fluid marketing">
    <div class="span6">
      <h4>It's Easy</h4>
      <p>A really simple API to get started quickly!</p>

      <h4>Forget registration</h4>
      <p>You don't even have to register for our service. Just start using it right away.</p>

      <h4>It's FREE!</h4>
      <p>This service is 100% free.</p>
    </div>

    <div class="span6">
      <h4>Authentication? Nope!</h4>
      <p>No need to go through a complex authentication process.</p>

      <h4>No installation required</h4>
      <p>Don't need to install any libraries that could introduce overhead.</p>

      <h4>Configure my shiny metal ass!</h4>
      <p>Don't have to configure jack to make this work.</p>
    </div>
  </div>
</div> <!-- /container -->

