{{#if confirm}}
<h1>Order sent!</h1>
<p>Please give 10 to 15 business days for their order to arrive at the address provided. A confirmation email should arrive shortly.</p>
<button class="btn btn-large btn-success" type="submit" onClick="history.go(-1);return true;">Back</button>
{{else}}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_CrtfL1Zp9lGvyausOij6Nd0Y');

    $(document).ready(function() {
        $('form').validate({
            rules: {
                amount: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                firstname: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                lastname: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                sex: {
                    required: true
                },
                age: {
                    number: true,
                    required: true
                },
                address1: {
                    minlength: 2,
                    required: true
                },
                address2: {
                    minlength: 2,
                    required: true
                },
                city: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                state_province: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                country: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                zipcode_postalcode: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                },
                phonenumber: {
                    minlength: 2,
                    maxlength: 15,
                    required: true
                }               
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $(".payment-errors").hide();
        $(".payment-errors").empty();

        $(".amount").change(function() {
            $(".amountlabel").html("$ " + this.value);
        });

        $("#payment-form").submit(function(event) {
            $(".payment-errors").hide();
            $(".payment-errors").empty();

            // disable the submit button to prevent repeated clicks
            $('.submit-button').attr("disabled", "disabled");

            Stripe.createToken({
                number: $('.card-number').val(),
                cvc: $('.card-cvc').val(),
                exp_month: $('.card-expiry-month').val(),
                exp_year: $('.card-expiry-year').val()
            }, stripeResponseHandler);

            // prevent the form from submitting with the default action
            return false;
        });
    });

    function stripeResponseHandler(status, response) {
        if (response.error) {
            // show the errors on the form
            $(".payment-errors").append("<p>"+response.error.message+"</p>");
            $(".payment-errors").show();
            $(".submit-button").removeAttr("disabled");
        } else {
            var form$ = $("#payment-form");
            // token contains id, last4, and card type
            var token = response['id'];
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
            // insert the token into the form so it gets submitted to the server
            form$.append("<input type='hidden' name='amount' value='" + $('.amount').val() + "'/>");
            // and submit
            form$.get(0).submit();
        }
    }
</script>

<h1>Purchase</h1>

<p class="lead">Fill in the information below.</p>


<!-- Only Stripe token is currently POSTed to server. -->
<form action="/stripe" method="POST" id="payment-form" class="form-horizontal">
  <p class="lead">Amount</p>
  <input id="amount" class="amount span9 pull-left" type="range" value="100" min="100" max="1000">
  <br></br>
  <h3 class="alert alert-success amountlabel pull-left">$&nbsp;100</h3>
  <br></br>
  <br></br>
  <br></br>
  <p class="lead">Category</p>
  <div>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Clothing and Apparel</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Arts and Crafts</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Batteries and chargers</label>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Books</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Candles</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Consumer Electronics</label>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Hats</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Health and Beauty Supplies</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Home Décor</label>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Artificial Jewellery</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Magazines and Catalogues</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Office Supplies</label>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Toys/Games and Hobby</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Cosmetics</label>
        </div><!-- /input-group -->
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon span0">
            <input type="checkbox">
          </span>
          <label class="span2">Other</label>
        </div><!-- /input-group -->
      </div>
    </div><!-- /.row -->
  </div>

  <div class="row-fluid marketing">
    <div class="span5">
      <p class="lead">Recepient Information</p>
      <div class="form-group">
          <div class="form-row">
            <label for="firstname">First Name *</label>
            <div class="input-group">
                <input class="form-control" id="firstname" name="firstname" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="lastname">Last Name *</label>
            <div class="input-group">
                <input class="form-control" id="lastname" name="lastname" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="lastname">Sex *</label>
            <div class="input-group">
                <select class="form-control sex" name="sex" id="sex">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="age">Age *</label>
            <div class="input-group">
                <input class="form-control" id="age" name="age" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="address1">Address 1 *</label>
            <div class="input-group">
                <input class="form-control" id="address1" name="address1" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="address2">Address 2 *</label>
            <div class="input-group">
                <input class="form-control" id="address2" name="address2" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="city">City *</label>
            <div class="input-group">
                <input class="form-control" id="city" name="city" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="state_province">State / Province *</label>
            <div class="input-group">
                <input class="form-control" id="state_province" name="state_province" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="country">Country *</label>
            <div class="input-group">
                <input class="form-control" id="country" name="country" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="zipcode_postalcode">Zip Code / Postal Code *</label>
            <div class="input-group">
                <input class="form-control" id="zipcode_postalcode" name="zipcode_postalcode" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="phonenumber">Phone Number *</label>
            <div class="input-group">
                <input class="form-control" id="phonenumber" name="phonenumber" type="text" />
            </div>
          </div>
      </div>
      <div class="form-group">
          <div class="form-row">
            <label for="message">Message</label>
            <div class="input-group">
                <textarea class="form-control message" id="message" name="message" type="text" rows="3"></textarea>
            </div>
          </div>
      </div>
    </div>

    <div class="span5">
      <p class="lead">Credit Card Information</p>

      <div class="form-row">
        <label>Card Number *</label>
        <input type="text" size="20" autocomplete="off" class="card-number"/>
      </div>
      <div class="form-row">
        <label>Security Code (CVC) *</label>
        <input type="text" size="4" autocomplete="off" class="card-cvc"/>
      </div>
      <div class="form-row">
        <label>Expiration (MM/YYYY) *</label>
        <select class="span4 card-expiry-month" name="ValidSelection" id="expiration-month" class="">
            <option value="0">Month</option>
            <option value="01">01</option>
            <option value="02">02</option>
            <option value="03">03</option>
            <option value="04">04</option>
            <option value="01">05</option>
            <option value="02">06</option>
            <option value="03">07</option>
            <option value="04">08</option>
            <option value="01">09</option>
            <option value="02">10</option>
            <option value="03">11</option>
            <option value="04">12</option>
        </select>
        <span> / </span>

        <select class="span4 card-expiry-year" name="ValidSelection" id="expiration-year" class="">
            <option value="0">Year</option>
            <option value="13">2013</option>
            <option value="14">2014</option>
            <option value="15">2015</option>
            <option value="16">2016</option>
            <option value="17">2017</option>
            <option value="18">2018</option>
            <option value="19">2019</option>
        </select>
      </div>
    </div>
  </div>
  <div class='payment-errors alert alert-warning'></div>
  <button class="btn btn-large btn-success" type="submit" class="submit-button">Order</button>
</form>

{{/if}}