<div class="container-narrow">
  <div class="jumbotron">
    <h1>NEED A GIFT FAST?</h1>
    <img src="/img/gift.jpg">
    <p class="lead">Purchase this gift today and we will ship a mystery item to the address provided.</p>
    <a class="btn btn-large btn-success" href="/purchase">Purchase</a>
  </div>
</div> <!-- /container -->