<div class="accordion-group">
  <div class="accordion-heading">
  	<div class="rank">
      <a target="_blank" href="{{url}}">
  		  <button type="button" class="btn">{{index}}</button>
      </a>
  	</div>
  	<div class="emoticon">
      {{{emoticonImg}}}
  	</div>
    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{_id}}">
      {{title}}
    </a>
  </div>
  <div id="{{_id}}" class="accordion-body collapse" style="height: 0px;">
    <div class="accordion-inner">
    	<div class="description">
      		{{description}}
  		</div>
      	<hr>
      	<div class="hashtags">
  			 {{{hashtagLinks}}}
  		  </div>
    </div>
  </div>
</div>